global
    log /dev/log local0
    chroot /var/lib/haproxy
    pidfile /var/run/haproxy.pid
    maxconn 4000
    user haproxy
    group haproxy
    daemon
    stats socket /var/lib/haproxy/stats

defaults
    mode tcp
    log global
    option tcplog
    option dontlognull
    timeout connect 5s
    timeout client 1m
    timeout server 1m
    timeout check 5s
    retries 3

frontend http_in
    bind *:80
    default_backend traefik_web

frontend https_in
    bind *:443
    default_backend traefik_websecure

backend traefik_web
    balance roundrobin
    option tcp-check
    server k8s-worker-01 192.168.10.11:30080 check
    server k8s-master-01 192.168.10.10:30080 check backup

backend traefik_websecure
    balance roundrobin
    option tcp-check
    server k8s-worker-01 192.168.10.11:30443 check
    server k8s-master-01 192.168.10.10:30443 check backup
